/************************************ CSS de BASE *******************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
}
body {
  scroll-behavior: smooth;
  line-height: 1.15;
  margin: 0;
  font-family: ;
  font-size: 1em;
}
ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  text-align: center;
}
li {
  list-style: none;
  margin: 1rem 1rem;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 238, 2);
}
img {
  max-width: 100%;
}
p {
  margin: 1rem;
}
/******************************************** HEADER *******************************/
header {
  background-image: linear-gradient(
      rgba(232, 236, 238, 0.9),
      rgba(255, 254, 247, 0.9)
    ),
    url(../../assets/img/header.jpg);
  color: #9d9d9d;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
header h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
header p {
  font-size: 1.5rem;
}
header h1,
header h2 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
nav {
  display: flex;
  background-color: whitesmoke;
  width: 100%;
  border-bottom: 1px solid #d9e1e7;
}
nav li {
  margin: auto;
}
nav span {
  width: 20vw;
}
.logo img {
  height: 10vh;
  width: auto;
  display: block;
  margin: 2px auto;
  width: auto;
}

/******************************************** ANIMATION EN JS *******************************/
header.scroll {
  height: 0px;
  transition: height 250ms ease-in-out 0s, margin-top 350ms ease-in-out 0s;
}
nav.scroll {
  position: fixed;
  top: 0;
  transition: top 1s linear;
  z-index: 100;
  background-color: #f2fcfb;
}
/******************************************** FIN ANIMATION EN JS *******************************/
/******************************************** FOOTER *******************************/
footer {
  display: flex;
  justify-content: center;
  background-color: #2cb9ac;
}
footer a {
  margin: 2rem;
}

/******************************************** MAIN *******************************/

/******************************************** CONNEXION *******************************/
.main_connexion h1 {
  margin-top: 3%;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: #9d9d9d;
}

.main_connexion form {
  width: 50%;
  margin: 3% auto;
  padding: 2% 0;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
}
.main_connexion form div {
  width: 100%;
  margin-top: 2%;
}
.main_connexion form label {
  color: rgb(255, 238, 2);
  font-size: 20px;
  display: block;
  width: 50%;
  margin: auto;
}
.main_connexion form input {
  display: block;
  width: 50%;
  margin: 1% auto;
  height: 5vh;
}
.main_connexion form input[type="submit"] {
  display: block;
  width: 30%;
  height: 5vh;
  margin: 4%;
  background-color: white;
  color: rgb(255, 238, 2);
  border-radius: 10px;
  border: none;
}

/******************************************** CONTACT *******************************/
.main_contact {
  background-color: #d1d1d1;
}

.main_contact h1 {
  padding-top: 3%;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: #9d9d9d;
}
.main_contact img {
  width: 15%;
  margin-left: 80%;
}

.main_contact form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
}
.main_contact form div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  width: 40%;
}

.main_contact form div:nth-child(2) {
  width: 30%;
}

.main_contact label {
  margin-bottom: 2%;
  font-size: 20px;
  color: #9d9d9d;
  font-weight: bold;
}
.main_contact input {
  height: 7vh;
  width: 80%;
  margin-bottom: 5%;
  border: none;
}

.main_contact textarea {
  width: 100%;
  border: none;
}

.main_contact form div input[type="submit"] {
  width: 30%;
  height: 6vh;
  margin: 3% auto 0;
  border-radius: 10px;
  background-color: white;
}

/******************************************** INSCRIPTION *******************************/
.main_inscription h1 {
  padding-top: 3%;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: #9d9d9d;
}

.main_inscription div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main_inscription div form {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1%;
}

.main_inscription label {
  margin: 2% 0;
  font-size: 20px;
  color: rgb(255, 238, 2);
}

.main_inscription input,
.main_inscription select {
  height: 5vh;
}
.main_inscription input[type="submit"] {
  width: 30%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 2% auto;
  height: 5vh;
}

.formInscription {
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: whitesmoke;
  border-radius: 20px 0 0 20px;
}

.formInscription input {
  width: 70%;
}

.btn1 {
  background-color: whitesmoke;
}

#btn2 {
  background-color: white;
  width: 30%;
  margin-top: 10%;
}

.main_inscription img {
  width: 20%;
}
